<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="robots" content="none" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Luftdaten</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="/chart.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre-exp.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre-icons.min.css">
  <link rel="stylesheet" href="/docs.css">
</head>

<body>
  <div class="docs-container off-canvas off-canvas-sidebar-show">
    <div class="docs-navbar">
      <a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
    </div>
    <div class="docs-sidebar off-canvas-sidebar" id="sidebar">
      <div class="docs-brand">
        <a class="docs-logo" href="/">
          <h2>Luftdaten</h2>
        </a>
      </div>
      <div class="docs-nav">
        <div class="accordion-container">
          <div class="accordion">
            {{#eq page "temperature"}}
            <span class="accordion-header underline">Temperature</span>
            {{else}}
            <a class="accordion-header" href="/temperature">Temperature</a>
            {{/eq}}
            {{#eq page "humidity"}}
            <span class="accordion-header underline">Humidity</span>
            {{else}}
            <a class="accordion-header" href="/humidity">Humidity</a>
            {{/eq}}
            {{#eq page "sds_p1"}}
            <span class="accordion-header underline">Fine dust 10 µm</span>
            {{else}}
            <a class="accordion-header" href="/sds_p1">Fine dust 10 µm</a>
            {{/eq}}
            {{#eq page "sds_p2"}}
            <span class="accordion-header underline">Fine dust 2.5 µm</span>
            {{else}}
            <a class="accordion-header" href="/sds_p2">Fine dust 2.5 µm</a>
            {{/eq}}
            {{#eq page "entries"}}
            <span class="accordion-header underline">Last 20 entries</span>
            {{else}}
            <a class="accordion-header" href="/entries">Last 20 entries</a>
            {{/eq}}
          </div>
        </div>
      </div>
    </div>
    <div class="off-canvas-content">
      <div class="docs-content" id="content">
        <div class="container">
          {{{body}}}
        </div>
        {{#unless nofooter}}
        <div class="docs-footer container grid-lg" id="copyright">
          <p>
            Built by <a href="https://github.com/ffflorian">Florian Keller</a> with help from <a
              href="https://picturepan2.github.io/spectre">Spectre</a> · Licensed
            under the <a href="https://github.com/ffflorian/luftdaten-server/blob/master/LICENSE">MIT License</a> ·
            Code on <a href="https://github.com/ffflorian/luftdaten-server">GitHub</a>
          </p>
        </div>
        {{/unless}}
      </div>
    </div>
  </div>
</body>

</html>
